body {
    background-color: #F9F2ED;
    font-family: 'VT323', monospace;
    --blue: #3AB0FF;
    --orange: #FFB562;
    --pink: #F87474;
}

.container {
    display: grid;
    justify-content: center;
}

.container2 {
    display: grid;
    max-width: 100%;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 0px;
}

.p1 {
    font-size: 35px;
    text-align: center;
    color: var(--blue);
}

.p2 {
    font-size: 35px;
    text-align: center;
    color: var(--orange);
    margin-top: 0;
}

.p3 {
    font-size: 35px;
    text-align: center;
    color: var(--pink);
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #F9F2ED;
    text-decoration: none;
}

label {
    display: block;
    margin: 20px 0 5px 0;
    font-size: 22px;
}

input[type=text],
input[type=password] {
    padding: 15px;
    border: none;
    background: #ffffff;
    color: #000000;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ffffff;
    outline: 2px solid #e5c7b3;
}

::placeholder {
    color: #ebd5c6;
    opacity: 1;
}

input[type=checkbox] {
    margin-top: 10px;
    margin-left: 10px;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #F9F2ED;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
    display: block;
    background-color: var(--pink);
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin: 50px auto;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

@media (max-width: 800px) {
    h1 {
        font-size: 70px;
    }

    #container {
        width: 65%;
    }

    .container2 {
        padding-top: 0px;
    }

    .p1,
    .p2,
    .p3 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 50px;
    }

    #container {
        width: 65%;
    }

    .container2 {
        padding-top: 0px;
    }

    .p1,
    .p2,
    .p3 {
        font-size: 20px;
    }
}